[Unit]
Description=Router Scan Frontend Service
After=network.target

[Service]
User=root
Type=oneshot
ExecStart=/home/kali/router-scan-command/frontend/rs-frontend.sh
RemainAfterExit=true

[Install]
WantedBy=default.target