[Unit]
Description=My React App Service
After=network.target

[Service]
User=root
WorkingDirectory=/home/kali/router-scan-frontend
ExecStart=/home/kali/router-scan-command/frontend.service.sh

[Install]
WantedBy=multi-user.target