[Unit]
Description=Frontend Service
After=network.target

[Service]
ExecStart=/home/kali/router-scan-command/frontend.service.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=default.target