[Unit]
Description=Router Scan Backend Service
After=network.target

[Service]
User=root
Type=oneshot
ExecStart=/home/kali/router-scan-command/backend/rs-backend.sh
RemainAfterExit=true

[Install]
WantedBy=default.target