[Unit]
Description=Router Scan Text Service
After=network.target network-online.target
Wants=network-online.target

[Service]
User=kali
ExecStart=/home/kali/router-scan-command/text/rs-text.sh
Restart=on-failure
Type=oneshot
RemainAfterExit=true
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target